@model IEnumerable<YugiohCollection.Models.Duelista>

@{
    ViewData["Title"] = "Duelistas";
}

<h1>Duelistas Cadastrados</h1>

<p>
    <a asp-action="Create">Novo Duelista</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="~/imagens/@item.Imagem" style="width: 200px; height: 300px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
